.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--champagne);
    padding-top: 28px;
    padding-bottom: 24px;
    &__wrep {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--champagne);
        width: 100%;
        position: relative;
    }
    &__block {
        display: flex;
        width: 100%;
        @media (max-width: 768px) {
            position: fixed;
            top: 98px;
            left: 0;
            padding-bottom: 98px;
            flex-direction: column;
            justify-content: flex-start;
            animation: 0.5s fadeOutLeft forwards;
            row-gap: calc(40rem/18);
            width: 100%;
            height: 100vh;
            max-height: none;
            overflow: auto;
            background-color: var(--champagne);
            z-index: 20;
        }
    }
    &__menu {
        padding-left: min(126px, max(var(--vw)* 126, 40px));
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            justify-content: space-evenly;
            padding-left: 0;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        padding: 4px;
        margin-left: auto;
        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: stretch;
            margin: 0 auto;
        }
    }
    &__btn {
        font-weight: 700;
        line-height: 100%;
        margin-right: 20px;
        line-height: 100%;
        letter-spacing: -0.01em;
        &:last-child {
            margin-right: 0;
        }
        @media (max-width: 1200px) {
            margin-right: 0;
            margin-bottom: 10px;
        }
        @media (max-width: 320px) {
            font-size: 7vw;
            padding: 7vw;
        }
    }
    &__burger {
        display: none;
        @media (max-width: 768px) {
            display: flex;
            z-index: 100;
            width: 52px;
            height: 52px;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: 0;
        }
    }
}




@media (max-width: 768px) {
    .fadeIn-open .header__block {
        animation: 0.5s fadeInLeft forwards;
    }
    .fadeIn-open .icon-bar::before {
        top: 0;
        transform: rotate(-45deg);
        will-change: transform;
        transition: top .25s,transform .25s .25s;
    }

    .fadeIn-open .icon-bar::after {
        top: 0;
        transform: rotate(45deg);
        will-change: transform;
        transition: top .25s, transform .25s .25s;
    }

    .fadeIn-open .icon-bar {
        background: 0 0;
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
}
    to {
        opacity: 1;
        transform: none;
    }
}

.icon-bar {
    --h: 2px;
    --top: 11px;
    background: var(--black);
    position: relative;
    display: block;
    width: 31.5px;
    height: var(--h);
    &::before {
        top: calc(var(--top) * -1);
        will-change: transform;
        transition: top .25s .25s,transform .25s;
    }
    &::after {
        top: var(--top);
        will-change: transform;
        transition: top .25s .25s,transform .25s;
    }
    &::after, &::before {
        background: var(--black);
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: var(--h);
    }
}
