.content {
    position: relative;
    background-color: var(--champagne);
    padding: 140px min(72px, max(var(--vw)* 72, 20px));
    padding: 140px 20px;
    @media (max-width: 768px) {
        padding-left: 24px;
        padding-right: 24px;
    }
    &__title {
        margin-bottom: 20px;
    }

    &__sub-title {
        font-weight: 500;
        font-size: 22.65px;
        line-height: 160%;
        letter-spacing: 0;
        text-align: center;
        margin-bottom: min(100px, max(var(--vw)* 100, 50px));
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
    &__three-rays {
        position: absolute;
        top: -107px;
        left: 91%;      
        width: 239px;
        height: 117px;
        @media (max-width: 768px) {
            width: 20%;
        }
    }
    &__control {
        text-align: center;
    }
    &__squiggle {
        z-index: 10;
        width: 100%;
        height: 0;
        position: relative;
        top: 67px;
    }
    &__body {
        max-width: 1158px;
        position: relative;
        margin: 0 auto 99px;
        @media (max-width: 768px) {
            max-width: 470px;
        }
    }  
    &__browse-btn {
        box-shadow: 5px 5px 0px 0px var(--shadow);
        padding: 18px 37px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px 16px;
}

.card {
    display: block;
    position: relative;
    border: 2px solid var(--black);
    border-radius: 12px;
    padding: 12px 14px 6px;
    width: min(570px, max(var(--vw)* 570, 440px));
    @media (max-width:1200px) {
        width: 570px;
    }
    &_hover {
        box-shadow: 10px 10px 0px 0px var(--pewter-blue);
    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__hiader {
        display: flex;
        margin-bottom: 14px;
        position: relative;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    &__picture {
        position: relative;
        height: 164px;
        margin-right: 20px;
        width: 52%;
        min-width: 167px;
        min-height: 167px;
        @media (max-width: 768px) {
            height: auto;
            width: 100%;
            margin-right: 0;
        }
    }
    &__info {
        padding-bottom: 11px;
        border-bottom: 2px solid var(--davys-grey);
    }
    &__info-title {
        font-family: Montserrat Alternates;
        font-weight: 700;
        font-size: 22.65px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: var(--black);
        &_hover {
            color: var(--vermillion);
        }
    }
    &__eps {
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0;
        color: var(--vermillion-contrast);
        padding: 5px 0;
    }
    &__info-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0;
        color: var(--davys-grey);
        padding-top: 8px;
        width: 84%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }
    &__btn {
        font-weight: 500;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0;
        margin-right: 6px;
    }
    &__avatars {
        position: relative;
        display: inline-flex;
    }

    &__avatar {
        border: 2px solid var(--white);
        position: relative;
        border-radius: 50%;
        width: 26px;
        height: 26px;
    }
    &__avatar:not(:first-child) {
        margin-left: -21px;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__users {
        display: flex;
        align-items: center;
        padding: 9px 3px;
    }
    &__text {
        font-weight: 700;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0;
        color: var(--davys-grey);
        padding-right: 10px;
    }

    &__content__three {
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0;
    }
    &__text {
        font-weight: 700;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0;
        color: var(--davys-grey);
        padding-right: 10px;
    }
    &__svg {
        height: auto;
    }
}

