.blog {
    padding-top: min(124px, max(var(--vw)* 124, 80px));
    padding-left: min(124px, max(var(--vw)* 124, 80px));
    padding-right: min(124px, max(var(--vw)* 124, 80px));
    padding-bottom:  min(95px, max(var(--vw)* 95, 80px));
    background-color: var(--white);
    position: relative;
    @media (max-width: 768px) {
        
        padding-left: 24px;
        padding-right: 24px;
    }

    &__title {
        margin-bottom: 18px;
    }

    &__sub-title {
        font-weight: 500;
        font-size: 22.65px;
        line-height: 160%;
        letter-spacing: 0;
        text-align: center;
        color:  var(--davys-grey);
    }
    &__wrep {
        position: relative;
        max-width: 1192px;
        margin: 0 auto;
    }
    &__button {
        text-align: center;
        margin-bottom: 44px;
    }
    &__btn {
        padding: 17px 34px;
        box-shadow: 6px 6px 0px 0px var(--shadow);
    }
    &__sheaf {
        position: absolute;
        width: min(264px, max(var(--vw)* 264, 130px));
        height: min(190px, max(var(--vw)* 190, 130px));
        top: -19px;
        left: -112px;
        left: -9%;
        transform: rotateZ(22deg);
    }
    &__dinosaur {
        position: absolute;
        top: inherit;
        bottom: -62px;
        left: inherit;
        right: -87px;
        width: min(173px, max(var(--vw)* 173, 130px));
        height: min(179px, max(var(--vw)* 179, 130px));
        transform: rotateZ(119deg);
        @media (max-width: 768px) {
            right: -15%;
        }
    }

    &__squiggle {
        top: 25px;
    }
    &_single-blog {
       padding-top: 0;   
    }
}

.block-cards {
    position: relative;
    margin-top: 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    row-gap: 40px;
    margin-bottom: 51px;
}