.blog {
    padding: 125px 125px 95px;
    // padding: min(124px, max(var(--vw)* 124, 80px));
    padding-top: min(124px, max(var(--vw)* 124, 80px));
    padding-left: min(124px, max(var(--vw)* 124, 80px));
    padding-right:min(124px, max(var(--vw)* 124, 80px));
    padding-right: min(124px, max(var(--vw)* 124, 80px));
    padding-bottom:  min(95px, max(var(--vw)* 95, 80px));;
    background-color: var(--white);
    position: relative;
    @media (max-width: 768px) {
        
        padding-left: 24px;
        padding-right: 24px;
    }

    &__title {
        font-weight: 700;
        font-size: 59.3px;
        font-size: min(59.3px, max(var(--vw) * 59.3, 44px));
        line-height: 120%;
        letter-spacing: -0.02em;
        text-align: center;
        margin-bottom: 18px;
    }

    &__sub-title {
        font-weight: 500;
        font-size: 22.65px;
        line-height: 160%;
        letter-spacing: 0;
        text-align: center;
        color:  var(--davys-grey);
    }
    &__wrep {
        position: relative;
        max-width: 1192px;
        margin: 0 auto;
        @media (max-width: 1407px) {
            max-width: 540px;
        }
    }
    &__cards {
        position: relative;
        margin-top: 103px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-bottom: 101px;
    }

    &__card {
        max-width: 570px;
        border-radius: 8px;
        border-width: 2px;
        border: 2px solid var(--black);
        padding: 13px;
        z-index: 10;
        background-color: var(--white);
    }
    &__hover {
        box-shadow: 10px 10px 0px 0px var(--black);
    }
    &__picture {
        margin-bottom: 33px;
    }

    &__img {
        width: 100%;
        height: auto;
    }
    &__block-text {
        border-bottom: 0.5px solid var(--davys-grey);
        margin-bottom: 17px;
        padding-bottom: 24px;
    }

    &__card-sub-title {
        font-weight: 700;
        color:  var(--davys-grey);
        margin-bottom: 6px;
    }

    &__card-title {
        font-weight: 700;
        font-size: 36.65px;
        font-size: min(36.65px, max(var(--vw)* 36.65, 28px));
        line-height: 140%;
        line-height: min(140%, max(var(--vw)* 140, 100%));
        letter-spacing: -0.02em;
        color: var(--black);
        margin-bottom: 20px;
    }

    &__title-hover {
        color: var(--vermillion);
    }

    &__card-text {
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0;
    }

    &__card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__card-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__card-btn {
        font-weight: 500;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0;
        color:  var(--davys-grey);
    }

    &__card-date {
        font-weight: 700;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0;
        color:  var(--davys-grey);
    }
    &__button {
        text-align: center;
        margin-bottom: 44px;
    }
    &__btn {
        padding: 17px 34px;
        box-shadow: 6px 6px 0px 0px var(--shadow);
    }
    &__sheaf {
        position: absolute;
        width: min(264px, max(var(--vw)* 264, 130px));
        height: min(190px, max(var(--vw)* 190, 130px));
        // width: 264px;
        // height: 190px;
        top: -73px;
        left: -112px;
        left: -9%;
        transform: rotateZ(22deg);
    }
    &__dinosaur {
        position: absolute;
        top: inherit;
        bottom: -110px;
        left: 93%;
        left: inherit;
        right: -87px;
        width: min(173px, max(var(--vw)* 173, 130px));
        height: min(179px, max(var(--vw)* 179, 130px));
        transform: rotateZ(119deg);
        @media (max-width: 768px) {
            right: -15%;
        }
    }

    &__squiggle {
        top: 25px;
    }
}
