:root {
    --black: #000000;
    --white: #FFFFFF;
    --davys-grey: #4D4D4D;
    --vermillion: #CD4631;
    --pewter-blue: #81ADC8;
    --champagne: #F7EDE8;
    --alice-blue:#edf6f7;
    --shadow: #00000040;
    --green: #1ED760;
    --vermillion-contrast: #C23D2E;
}
