.quote {
    text-align: center;
    background-color: var(--champagne);
    border-radius: 8px;
    padding: 44px min(187px, max(var(--vw)* 187, 10px));
    position: relative;
    @media (max-width: 768px) {
        padding: 40px 20px;
    }
    &__title {
        text-align: center;
        margin: 40px 0;
        &_text-overflow {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 558px;
            width: 100%;
            margin: 40px auto;
        }
    }
    &__blob {
        position: absolute;
        top: -57px;
        right: max(-62px, min(var(--vw)* -62, -30px));
        rotate: 70deg;
        width: min(187px, max(var(--vw)* 187, 100px));
        height: min(148px, max(var(--vw)* 148, 100px));
    }

    &__crooked {
        position: absolute;
        top: 200px;
        left: -156px;
        rotate: 214deg;
        height: 133px;
        width: 346px;
        stroke-width: 1;
    }
    &__user {
        @media (min-width: 1441px) {
            max-width: none;
        }
    }
}
