.btn {
    display: inline-block;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    will-change: transform;
    transition: all 0.2s;
    border-radius: 8px;
    padding: 12px 22px;
    font-weight: 600;
    color: var(--black);
    &_light {
        border: 2px solid var(--black);
        color: var(--black);
        &:hover {
            background-color: var(--white);
        }
    }
    &_black {
        background-color: var(--black);
        border: 2px solid var(--black);
        color: var(--white);
        box-shadow: 3px 3px 0px 0px var(--shadow);
        &:hover {
            background-color: var(--davys-grey);
            border: 2px solid var(--davys-grey);
            color: var(--white);
        }
    }
    &_grey{
        border: 1px solid var(--davys-grey);
        color: var(--davys-grey);
        padding: 6px 11px;
         border-radius: 8px;
        &:hover {
            background-color: var(--white);
        }
    }
}
