.platform {
    margin-top: min(121px, max(var(--vw)* 121, 40px));
    padding-bottom: 137px;
    &__row {
        display: flex;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 44px 0 19px;
        flex-wrap: wrap;
    }
    &__link {
        display: flex;
        flex-wrap: wrap;
    }
    &__text {
        font-weight: 700;
        font-size: 22.65px;
        line-height: 140%;
        letter-spacing: -0.02em;
        margin-right: 208px;
        margin-bottom: 24px;
        flex: 0 1 auto;
    }

    &__icon {
        height: 34px;
        width: 124px;
        margin-right: min(133px, max(var(--vw)* 133, 40px));
        flex: 0 0 auto;
        margin-bottom: 24px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__google-podcast {
        height: 36px;
        width: 198px;
    }
    &__svg {
        width: 100%;
        height: 100%;
    }
    &__squiggle {
        top: 64px; 
    }
}
