.host {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
        display: flex;
        border: 2px solid var(--black);
        box-shadow: 10px 10px 0px 0px var(--black);
        border-radius: 8px;
        padding: 12px 16px;
        flex: 0 0 570px;
        margin: 0 20px 20px 0;
        &:last-child{
            margin: 0 0 20px 0;
        }
        @media (max-width: 768px) {
            flex: 0 1 auto;
            flex-wrap: wrap;
            position: relative;
        }
    }

    &__picture {
        margin-right: 20px;
        @media (max-width: 768px) {
            margin: 0 auto;
        }
    }

    &__img {
        border-radius: 8px;
        @media (max-width: 768px) {
            width: 100%;
            height: auto;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        @media (max-width: 768px) {
            position: static;
        }
    }
    &__smile {
        position: absolute;
        width: 95px;
        height: 108px;
        transform: rotateZ(26deg);
        top: 13px;
        right: 16px;
    }
    &__sheaf {
        position: absolute;
        width: 137px;
        height: 105px;
        transform: rotateZ(-1deg);
        top: 13px;
        right: -5px;
    }
    &__sub-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0;
        margin-bottom: 5px;
    }
    &__title {
        margin-bottom: 21px;
    }
    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0;
        border-bottom: 1px solid var(--davys-grey);
        padding-bottom: 18px;
        margin-bottom: 12px;
        color: var(--davys-grey);
    }
    &__social-links {
       display: flex;
       justify-content: flex-end; 
       padding-bottom: 3px;
       &:before {
            content: attr(data-title);
            font-weight: 700;
            font-size: 12px;
            line-height: 160%;
            letter-spacing: 0;
            margin-right: 19px;
            color: var(--davys-grey);
       }
    }
    &__link {
        margin-right: 8px;
        height: 19px;
        &:last-child{
            margin-right: -4px;
        }
    }
    &__icon {
        width: 22px;
        height: 19px;
        height: 100%;
    }
}

    