.cta {
    padding-top: 138px;
    background-color: var(--alice-blue);
    position: relative;
    height: 816px;
    overflow: hidden;
    &__beta {
        border: 1px solid var(--vermillion-contrast);
        padding: 3px 6px 2px;
        margin: 0 auto;
        width: 52px;
        border-radius: 4px;

        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0px;
        color: var(--vermillion-contrast);
        margin-bottom: 20px;
        margin-top: 4px;
    }
    &__title {
        max-width: min(486px, max(var(--vw)* 486, 300px));
        margin: 0 auto;
        margin-bottom: 26px;
        @media (max-width: 768px) {
            max-width: none;
            padding: 0 20px;
        }
    }
    &__sub-title {
        font-size: 22.65px;
        line-height: 160%;
        letter-spacing: 0;
        text-align: center;
        margin: 0 auto;
        margin-bottom: min(144px, max(var(--vw)* 144, 42px));
        margin-bottom: min(139px, max(var(--vw)* 139, 42px));
        max-width: min(486px, max(var(--vw)* 486, 300px));
    }
    &__control {
        position: relative;
        margin: 0 auto;
        text-align: center;
        max-width: 240px;
    }
    &__icons {
        display: flex;
        justify-content: center;
        column-gap: 10px;
    }
    &__btn {
        padding: 18px 36px;
        margin-bottom: 22px;
        box-shadow: 6px 6px 0px 0px var(--shadow);
        font-weight: 700;
        line-height: 160%;
        letter-spacing: 0;
        @media (max-width: 768px  ) {
            padding: 8px 18px;
        }
    }
    &__gadget {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;       
        width: min(1645px, max(var(--vw)* 1645, 400px));
        @media (max-width: 768px ) {
            width: 100%;
        }
    }
    &__picture {
        position: relative;
        height: 768px;
        width: 532px;
        top: -279px;
        left: -93px;
        @media (max-width: 768px ) {
            left: -21%;
            height: 768px;
            width: auto;
            left: 0;
            top:0;
        }
    }
    &__play {
        height: 836px;
        width: 826px;
        left: 194px;
        top: -683px;
        @media (max-width: 768px ) {
            left: 21%;
            height: 768px;
            width: auto;
            left: 0;
            top:0;
        } 
    }
    &__img {
        width: 100%;
        height: auto;
        z-index: 10;
        position: relative;
    }
    &__text {
        line-height: 160%;
        letter-spacing: 0;
        color: var(--davys-grey);
        margin-bottom: 10px;
    }
    &__rays-sm {
        position: relative;
        left: 37%;
        top: -22%;
        width: 6%;
        height: 0;
    }
    &__rays-md {
        position: relative;
        left: 40%;
        top: -15%;
        width: 13%;
        height: 0;
    }
    &__rays {
        position: relative;
        left: 13%;
        top: -10%;
        width: 30%;
        height: 0;
        z-index: 20;
    }
    &__three-rays {
        position: relative;
        top: -229px;
        right: -206px;
        width: 26%;
        height: 0;
    }
    &__svg {
        height: auto;
        width: 100%;
        pointer-events: none;
    }

    &__tangle {
        position: relative;
        bottom: min(321px, max(var(--vw)* 321, 10px));
        right: -6px;
        top: -315px;
        right: -55px;
        width: min(288px, max(var(--vw)* 288, 50px));
        height: min(207px, max(var(--vw)* 207, 50px));
        @media (max-width: 1200px) {
            top: auto;
        }
    }
    &__tangle-svg {
        width: 100%;
        height: 100%;
    }
}
